.fullpageish {
  &__section {
    background: var(--color-background);
    color: var(--color-foreground);

    &--full-page {
      min-height: 110vh;
    }
  }

  &__container {
    max-width: var(--length-container-width);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5rem 2rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
