@import 'normalize.css';
@import './variables.css';
@import './icons.css';
@import './animations.css';
@import './youtube.css';
@import './fullpageish.css';

html {
  font-family: 'Gochi Hand', 'Noto Sans HK', sans-serif;
  font-size: 24px;
}

a:link,
a:visited {
  color: var(--color-light-blue);
  
  img, i[class^="gg-"] {
    transition: var(--transition-duration) ease;
    transition-property: transform;
  }
}
a:hover,
a:active {
  color: var(--color-lighter-blue);

  img, i[class^="gg-"] {
      transform: scale(1.05);
  }
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
  font-size: 0.8rem;
}
